:root{
  --menu: 700px;
}

.menu-item{
  font-weight: bold;

}

#breakfast{
  display: flex;

}

.price{
  padding-bottom: 30px;
}

.menu-item-block{
  padding: 10px;
  max-width:var(--menu);
  display: flex;
  /* align-items: space-between; */
  justify-content: space-between;

}

#menu-items{
   max-width:var(--menu);
}
